<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הצהרת נגישות</title>
    <link rel="stylesheet" href="./stylesheets/AccessibilityStatement.css">
    <link rel="stylesheet" href="./stylesheets/HomePage.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- icon-->
    <link rel="icon" href="./images/pagesImgs/burger.png">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+Hebrew:wght@500;900&display=swap" rel="stylesheet">
</head>
<body>
  <h1 id="acTitle">CS Burgers הצהרת נגישות</h1>
    <div class="AccessibilityStatement-section">
        <p class="mini-title">הסדרי הנגישות במסעדה</p>
        <p>המסעדה פועלת רבות בכדי להנגיש את שירותיה עבור אנשים עם מוגבלויות, במטרה להעניק חווית שירות העונה לדרישותיו הייחודיות. מנהלי ועובדי החברה עברו הדרכות אודות מתן שירות נגיש וישמחו לסייע בכל פנייה. </p>
        <p  class="mini-title">בסניפנו ניתן למצוא</p>
        <p>עזרים לכבדי שמיעה- בסניפי הרשת קיימים מכשירי עזר לכבדי שמיעה מסוג "לולאת השראה" על מנת לאפשר ללקוחות עם מוגבלות בשמיעה לשמוע ולהבין את דברי נותן השירות, תוך סינון רעשי רקע והפרעות אקוסטיות.</p>
        <p>עזרים למוגבלות מוטורית- בסניפי הרשת קיימת הנגשה של הדלפק המאפשרת גישה מונגשת לדלפק.</p>
        <p>כמו כן, במקרה הצורך העובדים בסניף ישמחו להגיש את המגשים לשולחן במידה ויתבקשו לעשות זאת. בנוסף, צוות נותני השירות תודרך לתמוך ולסייע בכל בקשה שתעלה במהלך ביצוע הקנייה.</p>
        <p  class="mini-title">שירותים נגישים</p>
        <p>במרבית הסניפי הלובי מוצעים שירותי נכים המותאמים למבקרים עם מוגבלויות.</p>
        <p  class="mini-title">ריהוט נגיש</p>
        <p>במרבית סניפי הלובי.</p>
      </div>
      <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary" id="footer">
        <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary" id="container">
            <span>
              <nav class="links-nav">
                <span class="link mb-2"><a class="footer-links" href="/">לעמוד הבית</a></span>
                <span class="separator">|</span>
                <span class="link mb-2"><a class="footer-links" href="https://www.facebook.com/csBurgers">הצהרת נגישות</a></span>
                <span class="separator">|</span>
                <span class="link mb-2"><a class="footer-links" href="/termsPage">תקנון ותנאי שימוש באתר</a></span>
                
              </nav>
      
                <nav class="social-links-nav">
                  <span class="link mb-2"><a class="footer-social-links" href="#"><i class="bi bi-facebook"></i></a></span>
                  <span class="link mb-2"><a class="footer-social-links" href="https://instagram.com/csburgersofficial?igshid=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a></span>
                </nav>
            </span>
          </div>
        </div>
      </footer>
      
</body>
</html>