<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>תנאי השימוש</title>
    <link rel="stylesheet" href="./stylesheets/termsPage.css">
    <link rel="stylesheet" href="./stylesheets/HomePage.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- icon-->
    <link rel="icon" href="./images/pagesImgs/burger.png">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+Hebrew:wght@500;900&display=swap" rel="stylesheet">
</head>
<body>

    
        <h1 id="termsTitle">
            CS Burgers תנאי השימוש</h1>
        <div class="terms-section">

        <p class="mini-title">כללי</p>
        <p>השימוש באתר כפוף להסכמת המשתמש, שימוש בהתאם לכללים שיפורטו להלן וכן בהתאם להוראות כל חוק ודין לרבות אך לא רק הוראות שיחולו על שימוש באתרים, כפי שיהיו מעת לעת. להלן כללי השימוש באתר. שימוש באתר משמעו אישור והסכמה לקבלת כללי השימוש והתחייבות לפעולה בהתאם להם כמו גם בהתאם להוראות הדין. במקרה של הפרת כללי השימוש, רשאית המסעדה ו/או מי מטעמה ו/או כל רשות להביא להפסקת השימוש ע"י המשתמש ו/או לנקוט באמצעים שונים, לרבות בהליכים משפטיים. תנאי השימוש נכתבו בלשון זכר מטעמי נוחות בלבד אך מיועדים לגברים ולנשים כאחד.</p>
            <p class="mini-title">שירות המשלוחים</p>
            <p>הזמנת משלוח מותנית במילוי פרטי המשתמש בטופס ההרשמה באתר. על המשתמש למלא טופס הרשמה זה בעת השימוש הראשוני באתר. המשתמש מתחייב למסור פרטים מלאים, נכונים ומדויקים הכוללים בין היתר: שם, כתובת ומספר טלפון. אין לעשות שימוש באתר תוך נטילת זהות בדויה ו/או התחזות לאדם אחר. הגשת פרטים כוזבים הינה עבירה פלילית והעושה כן צפוי להליכים פליליים ואזרחיים.</p>
            <p>מסירת פרטי המשתמש ונתונים אחרים אודותיו באתר, תהווה הסכמה והיתר למסעדה לעשות בהם שימוש לצורכי פרסום ולשם מתן שירותיה באמצעות אתר זה או באמצעות הודעת מסר קצר לרבות, שיפור השירותים בכלל זה הסכמה לקבלת מסרים, הודעות ,תכתובות, שאלונים, בדיקות תקופתיות, סקרים וכו' שנועדו לשפרם ולשפר את השירות כלפי לקוחותינו.</p>
            <p>המסעדה תערוך משלוחים עד לכתובת המשתמש באזורי החלוקה המוגדרים בלבד. יובהר כי שירות המשלוחים מוגבל לאזורי חלוקה והמסעדה תוכל לערוך שינויים באזורי החלוקה מעת לעת ומבלי הודעה מראש.</p>
            <p>שירות הזמנת משלוח באתר מותאם לשעות פעילות המשלוחים בסניפים ועלול להשתנות מעת לעת ומבלי הודעה מראש. זמן הגעה משוער יצוין בעת ביצוע ההזמנה וזאת בהתאם למועדי ההזמנה ולסניף ממנו בוצעה ההזמנה. בכל מקרה, המסעדה מסירה מעל עצמה אחריות בנוגע לאיחור באספקת המוצר בשל נסיבות שאינן מצויות בשליטתה ואשר יש בהן כדי לסכל את הגעתו של המשלוח במועדו ובהן מסירת פרטים כוזבים בידי המזמין, מסירת פרטים בלתי מדויקים בידי המזמין, סגירת כבישים וחסימת התנועה בידי גורם חיצוני, אסון טבע, מצב חירום לאומי, מזג אוויר סוער. רשימה זו הינה חלקית ואיננה ממצה נסיבות כאמור. אמצעי התשלום באתר הינו כרטיסי אשראי או מזומן.</p>
            <p>אשראי – אישור ההזמנה מותנה בשימוש בכרטיס אשראי בתוקף, ובאישור מטעם חברת האשראי. מזומן – אישור ההזמנה מותנה בזיהוי המזמין באתר באמצעות קוד אשר יישלח בהודעת טקסט לטלפון הנייד שימסור המזמין. יובהר כי השלמת הזיהוי באתר תהווה אסמכתא לביצוע ההזמנה והמזמין לא יוכל להתכחש לביצוע העסקה והוא יחויב במלוא עלות העסקה. בהתאם להוראות הדין, לא ניתן לבטל מוצר שהוזמן באמצעות אתר זה, וכל ביטול מצד המזמין, יהא על אחריותו בלבד.</p>
            <p>המחירים המפורסמים באתר מצויים בשיקול דעתה הבלעדי של המסעדה והיא רשאית לערוך כל שינוי במחירים. כמו כן, המזמין לא יכול להביע כל הסתייגות ו/או טענה אודות המחירים וטענה כי המחיר בקניה ישירה באחד מסניפי המסעדה נמוך יותר לא ישמש כעילה לביטול העסקה</p>
            <p class="mini-title">תכני האתר</p>
            <p>אתר זה יכול להכיל כל מידע שהמסעדה תבחר למסור אותו כשירות לציבור, לרבות הפניות לאתרים שונים באמצעות קישורים, הפעלת פורומים, סקרים, סטטיסטיקות, ניתוחים, הערכות או כל מידע אחר. מידע זה נמסר בלא אחריות לתוכנו, אין לראות במידע המלצה לפעולה ואין להסתמך עליו בלא ביצוע בדיקה נוספת.</p>
            <p>המסעדה לא תהא האחראית לכל נזק ישיר ו/או עקיף לגוף ו/או לרכוש של משתמש ו/או צד ג' ככל שיגרם בשל ו/או בקשר לשימוש באתר, תכניו, הסתמכות עליהם לרבות השפעת תכנים על משתמש ו/או צד ג' ו/או השפעתם על תכנה, חמרה ו/או ציוד קצה בו ו/או באמצעותו נקלטו.</p>
            <p class="mini-title">ניהול האתר</p>
            <p>המסעדה שומרת על כל זכות לשנות את האתר מעת לעת, לערוך בו או בתכניו כל שינוי עיצובי, תכני ו/או אחר. המסעדה שומרת על זכות לסגור את האתר כולו ו/או חלקו בכלל ו/או לקבוצות משתמשים, ו/או להפסיק את פעולתו של האתר כולו ו/או חלקיו. המסעדה לא תהא מחויבת להודיע מראש על כל שינוי שתערוך באתר.</p>
            <p class="mini-title">זכויות יוצרים באתר</p>
            <p>זכויות היוצרים, הקניין הרוחני וכל זכות אחרת באתר, בעיצובו, בתוכנה בה נעשה שימוש במסגרתו, בטקסט ובכל מידע אחר הכלול בו הם ויהיו של המסעדה בלבד. אין העתיק, להפיץ, להציג בפומבי או למסור לצד שלישי דבר מכל אלו ו/או חלקו אלא אם התקבלה הסכמתה מראש ובכתב של המסעדה  ובכפוף להסכמה זו אם נתנה. סימני המסחר המופיעים באתר הם קניינה של המסעדה או, אם פורסמו על ידי מפרסמים מורשים קניינם של אלו. בשום מקרה, אין לעשות כל שימוש בסימני מסחר שבאתר אלא בהסכמה, בכתב ומראש של בעליהם.</p>
             <p class="mini-title">אחריות משתמש</p>
             <p>משתמש שיעשה שימוש באתר בניגוד לכללי השימוש או ניגוד להוראות דין ישא לבדו באחריות למעשיו לרבות לכל נזק ישיר ו/או עקיף שיגרם למסעדה ו/או לכל אדם אחר.</p>
             <p>משתמש שיעשה שימוש באתר בניגוד לכללי השימוש או להוראות הדין כזה יהא מחויב לפצות את המסעדה ולשפות אותה ו/או את עובדיה, מנהליה, בעלי מניותיה ,או מי מטעם אלו על כל נזק ישיר ו/או עקיף לרבות הפסד, אבדן רווח, תשלום או הוצאה שייגרמו להם – ובכלל זה שכ"ט עו"ד והוצאות משפט הכל אם דרישה ראשונה ועל פיה.</p>
             <p class="mini-title">ביטול עסקה</p>
             <p>ביטול עסקה בהתאם לתקנות הגנת הצרכן (ביטול עסקה), התשע"א-2010 וחוק הגנת הצרכן, התשמ"א-1981</p>
             <p class="mini-title">פטור מאחריות</p>
             <p>פטור מאחריות של המסעדה, משמעו פטור מכל אחריות לנזק ישיר או עקיף למשתמש ו/או לכל צד ג'. פטור מאחריות כלפי המסעדה יחול גם לגבי כל חברה בת, חברה מסונפת, חברה קשורה, בעלי מניות, דירקטורים, נושאי משרה אנשי הנהלה, עובדים, וכל מי שפועל מטעם אלו ו/או בשמם הכל בין אם צוין הדבר מפורשות להלן ובין אם לאו.</p>
             <p class="mini-title">תמונות באתר /אפליקציה</p>
             <p >התמונות להמחשה בלבד</p>
      </div>

      <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary" id="footer">
        <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary" id="container">
            <span>
              <nav class="links-nav">
                <span class="link mb-2"><a class="footer-links" href="/">לעמוד הבית</a></span>
                <span class="separator">|</span>
                <span class="link mb-2"><a class="footer-links" href="/AccessibilityStatement">הצהרת נגישות</a></span>
                <span class="separator">|</span>
                <span class="link mb-2"><a class="footer-links" href="#">תקנון ותנאי שימוש באתר</a></span>
                
              </nav>

                <nav class="social-links-nav">
                  <span class="link mb-2"><a class="footer-social-links" href="https://www.facebook.com/csBurgers"><i class="bi bi-facebook"></i></a></span>
                  <span class="link mb-2"><a class="footer-social-links" href="https://instagram.com/csburgersofficial?igshid=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a></span>
                </nav>
            </span>
          </div>
        </div>
      </footer>

</body>
</html>