@font-face {
    font-family: 'dana_yad_alefalefalefnormal';
    src: url('/fonts/danayadalefalefalef-normal-webfont.woff2') format('woff2'),
         url('/fonts/danayadalefalefalef-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    direction:rtl;
}

.btn-back {
    font-size: 1.5vw;
    position: fixed;
    right: 3vw;
    top: 1vw;
    color:rgb(154, 13, 13);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    transition: all 0.4s;
}

.btn-back:hover
{
    transform: scale(1.05);
}

.card {
    display: flex;
}

.vidCon
{
    margin-top: 5.5rem;
}

video {
    width: 100%;
    height: auto;
}

.aboutUsBox
{
    margin-right: 2.5vw;
}

.aboutUs-title {
    color: rgb(154, 13, 13);
    text-align: right;
    font-family: 'dana_yad_alefalefalefnormal';
    font-size: 3.3rem;
    padding-top: 1vw;
     font-weight: bold;

}

.aboutUs-info {
    font-family: 'dana_yad_alefalefalefnormal';
    font-weight: bold;
    font-size: 1.3vw;
}

