body {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    direction:rtl;
  }
  
  html {
    box-sizing: border-box;
  }
  
  .AccessibilityStatement-section {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    text-align: center;
    color: rgb(79, 79, 79);
    column-width: 30rem;
    column-gap: 1em;
    column-rule: 1px solid #ccc;
  }
  
  .mini-title {
    color: rgb(154, 13, 13);
    font-size: 1.5rem;
  }


  #acTitle
  {
    color: white;
    text-align: center;
    background-color:rgb(154, 13, 13);
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    padding: 1.5vw;
  }