body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
}

aside {
    float: right;
}

section {
    padding: 20px;
    margin-left: 270px;
}

ul {
    list-style: none;
    padding: 0;
    
}

li {
   margin-top: 1vw;
}

.hide {
    display: none;
}

.title
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    background-color: rgb(154, 13, 13);
    text-align: center;
}

.users,.orders
{
    background-color: rgb(154, 13, 13);
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    text-align: center;;
    transition:all 0.4s ;
}

.users:hover,.orders:hover
{
    background-color: rgb(126, 16, 16);
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    text-align: center;;
    transition:all 0.4s ;
    transform: scale(1.1);
}

li
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}


.btnsList
{
    direction: rtl;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-size: 1.4vw;
    color:white;
    margin-right: 0.5vw;
}

.ordersList, .usersList
{
    direction: rtl;
}

.orderItem, .orderItem
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}