.body {
    direction: rtl;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.title {
    text-align: center;
    color: rgb(154, 13, 13);
    margin-top: 4vh;
}

.btn-back {
    font-size: 1.5vw;
    position: fixed;
    right: 3vw;
    top: 1vw;
    color:rgb(154, 13, 13);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    transition: all 0.4s;
}

.btn-back:hover
{
    transform: scale(1.05);
}

.titleGraph1 {
    text-align: center;
    margin-top: 4vh;
}

.titleGraph2 {
    text-align: center;
    margin-top: 4vh;
}

.div-chart {
    display: flex;
    justify-content: center;
}