.btn-back {
    font-size: 1.5vw;
    position: fixed;
    right: 3vw;
    top: 1vw;
    color:rgb(154, 13, 13);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    transition: all 0.4s;
}