.btn-back {
    font-size: 1.5vw;
    position: fixed;
    right: 3vw;
    top: 1vw;
    color:rgb(154, 13, 13);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    transition: all 0.4s;
}

/* fonts */
.details-container
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.sign-in-title
{
    font-size: 2.7vw;
    color: rgb(154, 13, 13);
    text-align: center;
    margin-top: 2vw;
}

.submit-btn
{
    color:  rgb(154, 13, 13);
    border:none;
    border-width: 0.113vw;
    background: transparent;
    font-size: x-large;
    transition: all 0.4s;
}

.submit-btn:hover 
{
    transform: scale(1.1);
}

.link
{
    color:rgb(0, 0, 0);
}

.link:hover{
    color:rgb(154, 13, 13);
}

.register-link
{
    font-size: medium;
    margin-top: 0.5vw;
}

.forgot-password
{
    font-size:medium;
    margin-top: 0.5vw;
}

/* placing of the placeholders in the input boxes*/
.form-control
{
    text-align: right;
}

#container {
    display: flex;
    flex-direction: column;
}

.social-links-nav {
    display: flex;
    justify-content: center;
}

 .links-nav {
    display: flex;
    justify-content: center;
} 

.link {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}