body {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;   
    direction: rtl;
}

.hide {
    display: none;
}

.page-title {
    text-align: center;
     font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    color: rgb(154, 13, 13);
    margin-top: 3vh;
    font-size: 4.5vw;
}

.card-body
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;    direction: rtl;
}

.categories-aside {
    background-color: transparent;
    float: right;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.nameOfCategory {
    text-decoration: none;
    color: white;
}

.categories {
    list-style: none;
}

.dishes-list {
    list-style: none;
}

.meals-list {
    list-style: none;
}

.li-category {
    background-color: rgb(154, 13, 13);
    border: none;
    margin-top:0.6vw;
    font-size: 1.5vw;
    padding: 0.5vw;
    transition: all 0.4s;
    padding-left: 2vw;
    padding-right: 2vw;
}

.li-category:hover{
    transform: scale(1.15);
    background-color: rgb(129, 19, 19);
}

.card-title
{
    font-size: 2vw;
    color: rgb(154, 13, 13);
}

.card
{
    width: 20vw;
    height: 6vh;
}

.order-btn
{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;    direction: rtl;
    background-color: rgb(154, 13, 13);
    color:white;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.3vw;
    align-self: left;
}

.order-btn:hover{
    background-color: rgb(129, 19, 19);

}