body {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;   
    direction: rtl;
    /* background-image: url("https://st2.depositphotos.com/3740491/8238/v/950/depositphotos_82386728-stock-illustration-seamless-pattern-with-sketched-burger.jpg"); */
}

.hide {
    display: none;
}

.card-text
{
    font-size: 1.2vw;
}

.page-title {
     font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    color: rgb(154, 13, 13);
    font-size: 4.5vw;
    background-color: white;
    margin-right: 21vw;
}

.card-body
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;    direction: rtl;
}

.categories-aside {
    background-color: transparent;
    float: right;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.nameOfCategory {
    text-decoration: none;
    color: white;
}

.categories {
    list-style: none;
}

.dishes-list {
    list-style: none;
}

.meals-list {
    list-style: none;
}

.li-category {
    background-color: rgb(154, 13, 13);
    border: none;
    margin-top:0.6vw;
    font-size: 1.5vw;
    padding: 0.5vw;
    transition: all 0.4s;
    padding-left: 2vw;
    padding-right: 2vw;
}

.li-category:hover{
    transform: scale(1.15);
    background-color: rgb(129, 19, 19);
}

.card-title
{
    font-size: 2vw;
    color: rgb(154, 13, 13);
}

.card
{
    height: 8vh;
    width: 40vw;
    margin-top: 2vh;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;    
    
    
}

.order-btn
{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;   
    background-color: rgb(154, 13, 13);
    color:white;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.3vw;
    text-align: left;;
}

.order-btn:hover
{
    background-color: rgb(129, 19, 19);
}

.order-btn
{
    outline: color;
}

.container
{
    align-items: center;
}

.card-info
{
    font-size: 1vw;
}

.SumOrder
{
    border-radius: 0.1vw;
    margin-right: 2vh;
}

.products {
    border-radius: 0.1vw;;
    margin-right: 2vh;
}

#order
{
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: 80%;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.CardLink
{
    text-decoration: none;
    text-decoration-color: white;
    background-color: rgb(154, 13, 13);
    font-size: 2.5vw;
    color: white;
    text-align: center;
    transition:all 0.4s;
}

.CardLink:hover{
    background-color: rgb(120, 16, 16);

}

.Sum {
    text-align: center;
    color: black;
    font-size: 3vw;
}
.modal {
    background: rgba(0, 0, 0, 0.5); 
}
.modal-backdrop {
    display: none;
}

.modal-header {
    display: flex;
    flex-direction: column-reverse;
}

.btn-close{
    right:10vw
}

.btn-back {
    font-size: 1.5vw;
    right: 3vw;
    top: 1vw;
    color:rgb(154, 13, 13);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    transition: all 0.4s;

}

#PayingSelectModalLabel, #CreditModalLabel, #CashModalLabel, #FinishPayModalLabel
{
    color:rgb(154, 13, 13);
    font-size: 2.4vw;

}

#PriceInPayPage{
    text-align: center;
    margin-top: 1.3vw;
    font-size: larger;
}

#cash, #credit
{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    text-align: right;
    color:white;
    background-color: rgb(154, 13, 13);
    border:none;
    font-size: 1.5vw;
    transition: all 0.4s;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

#cash:hover, #credit:hover
{
    background-color: rgb(120, 16, 16);
    transform: scale(1.05);
}

.modal-body
{
    text-align: center;
}