body {
    direction:rtl;
  }
  
  html {
    box-sizing: border-box;
  }
  
  .terms-section {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    padding-right: 3vw;
    padding-left: 3vw;
    margin-top: 1.5vh;
    text-align: center;

        color: rgb(79, 79, 79);
  }
  
  .title {
    color: grey;
    

  }

  #termsTitle
  {
    color: white;
    text-align: center;
    background-color:rgb(154, 13, 13);
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Hebrew', sans-serif;
    padding: 1.5vw;
    ;
  }

  .mini-title
  {
    color: rgb(154, 13, 13);
    font-size: 1.5rem;
  }
  